.App {
  max-width: 800px;
  margin:auto
}

#header{
  width: 100%;
  max-width: 500px;
  padding: 1em;
  margin:0 auto
}

.buttons{
  padding:.5em 0;
  display: flex;
  justify-content: space-between;
}

#notes{
  width:100%;
  display: flex;
  gap:1em;
  flex-wrap: wrap;
  justify-content: center;
}

.note{
  width:calc(33.3% - 0.67em);
  padding:.75em .5em;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
  border-radius: .5em;
  position: relative;
  word-wrap: break-word
}

.note button{
  position: absolute;
  right:.25rem;
  top:50%;
  transform: translate(0%,-50%);
  box-shadow: .1em 0 .5em #0005;
  z-index: 1;
  font-weight: 600;
  font-size:.7em !important
}

.red{
  background: rgb(255, 87, 87);
}
.blue{
  background: rgb(51, 115, 255);
}
.yellow{
  background: rgb(255, 255, 0);
}
.green{
  background: rgb(103, 212, 91);
}
.purple{
  background: rgb(182, 73, 188);
}